Q-1. Write an SQL query to print the FIRST_NAME from Worker table after removing white spaces from the right side. 

Ans: select RTRIM(FIRST_NAME) from worker

Q-2. Write an SQL query that fetches the unique values of DEPARTMENT from Worker table and prints its length. 

Ans: select length distinct(DEPARTMENT) from worker

Q-3. Write an SQL query to fetch nth max salaries from a table Ans:SELECT Salary FROM Worker ORDER BY Salary DESC LIMIT n-1,1; select TOP 1 salary from(select distinct n salary from worker order by salary desc) order by salary asc