Q-1. Write an SQL query to print details of the Workers who have joined in Febâ€™2014. Ans:select * from worker WHERE year(JOINING_DATE)=2014 and month(JOINING_DATE)=2

Q-2. Write an SQL query to fetch duplicate records having matching data in some fields of a table. ANS:select WORKER_TITLE, AFFECTED_FROM, count() from Title group by WORKER_TITLE, AFFECTED_FROM having count() > 1

Q-3. How to remove duplicate rows from Employees table. Ans:DELETE from Employees where emp_ID not in (select max(emp_id) as max record from employees group by [ emp_name] , [job_name], [manager_id], [ hire_date] [ salary ] ,[ commission ] ,[dep_id]